@import "tailwindcss";

@font-face {
  font-family:"HMK" ;
  src: url('/font/ARM\ HMK\'S\ SCRIPT.TTF');
}
.FontArmHmk{
  font-family: "HMK";
  
}

@font-face {
  font-family:"ArTarumianBarakU" ;
  src: url('/font/ArTarumianBarakU-Bold.ttf');
}
.FontArTarumianBarakU{
  font-family: "ArTarumianBarakU";
  
}
@font-face {
  font-family:"ArmenianDecorativeU" ;
  src: url('/font/ArmenianDecorativeU-Italic.woff2');
}
.FontArmDecorative{
  font-family: "ArmenianDecorativeU";
  
}

@font-face {
  font-family:"BraindDoctor" ;
  src: url('/font/BraindDoctor.otf');
}
.FontBraindDoctor{
  font-family: "BraindDoctor";
  
}
/* //////////////////////////////////////////// */
@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}
.animate-marquee-2 {
  animation: marquee2 20s linear infinite;
}

.text-sovorakan{
  color: #7D4345;
}
.text-vrayi {
  color: #7D4345;
}
.text-taki {
  color: #7D4345 ;
}
.bg-guyn {
  background: #7D4345;
}
.border-guyn {
  border-color: #7D4345;
}





/* ....................CRAR................ */


@media (min-width: 768px) {
  @keyframes bounceY {
    0% {
      transform: translateY(0);
      width: 560px;
      height: 360px;
      z-index: 6;
    }
    50% {
      transform: translateY(-500px);
      z-index: 6;
    }
    100% {
      width: 560px;
      height: 360px;
      z-index: 50;
    }
  }

  .animate-bounceY {
    animation: bounceY 2s ease;
  }
}

@media (max-width: 768px) {
  @keyframes bounceYB {
    0% {
      top: 10%;
    }
    100% {
      top: -100%;
      display: none;
    }
  }

  .animate-bounceYB {
    animation: bounceYB 2s ease forwards;
  }

  @keyframes bounceYT {
    0% {
      bottom: -60%;
    }
    100% {
      bottom:-180%;
      display: none;
    }
  }

  .animate-bounceYT {
    animation: bounceYT 2s ease forwards;
  }
}